.user-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.loading-container {
  display: flex;
  padding-top: 200px;
  justify-content: center;
}

.errorSnackBar {
  margin-top: 93px !important;
  background-color: darkred !important;
  color: white !important;
}

.successSnackBar {
  margin-top: 93px !important;
  background-color: forestgreen !important;
  color: white !important;
}
